
body {
    font-family: "Lucida Casual", sans-serif;
    background-color: #eef4fb;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-section {
    background-color: #007bff;
    width: 100vw;
    color: white;
    padding-left: 50px;
    text-align: left;
    box-sizing: border-box;
}

.form-section {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin: 50px auto 0 50px;
}

.task-form {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 10px;
    align-items: center;
}

.form-title {
    margin: 0;
    width: 100%;
    text-align: left;
    grid-row: 1;
}

.task-input {
    width: 100%;
    padding: 10px;
    height: 3rem;
    border: 1px solid #ccc;
    border-radius: 7px;
    box-sizing: border-box;
    grid-row: 2;
}

.add-task-btn {
    height: 3rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    padding: 10px 25px;
    grid-row: 2;
}

.task-input,
.add-task-btn {
    display: inline-block;
}

.tasks-section {
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 50px;
    width: calc(100% - 50px);
}

.task-category {
    flex: 1;
}

.category-title {
    border-radius: 10px;
    width: fit-content;
    padding: 10px 15px;
    margin-bottom: 10px;
    background-color: var(--category-bg-color);
    color: var(--category-text-color);
}

.task-item {
    list-style: none;
    background: white;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 7px;
    border-left: 5px solid var(--category-text-color);
}

.pending {
    --category-bg-color: #e3e3e3;
    --category-text-color: #808080;
}

.in-progress {
    --category-bg-color: #d6e7ff;
    --category-text-color: #418bee;
}

.completed {
    --category-bg-color: #d7f9e0;
    --category-text-color: #7db868;
}

.discarded {
    --category-bg-color: #fbe3e3;
    --category-text-color: #ca6366;
}

.clear-btn {
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    padding: 15px;
    width: 100%;
    margin-top: 10px;
}